<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zeerooo.anikumii"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name="com.zeerooo.anikumii.Anikumii"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.zeerooo.anikumii.activities.MainActivity"
            android:configChanges="orientation|screenSize|screenLayout"
            android:launchMode="singleTop"
            android:resizeableActivity="true"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="tioanime.com"
                    android:scheme="https" />
                <data
                    android:host="tiohentai.com"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.zeerooo.anikumii.activities.EpisodesActivity"
            android:configChanges="orientation|screenSize|screenLayout"
            android:resizeableActivity="true"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="tioanime.com"
                    android:pathPrefix="/anime"
                    android:scheme="https" />
                <data
                    android:host="tiohentai.com"
                    android:pathPrefix="/hentai"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.zeerooo.anikumii.activities.SettingsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/nav_settings"
            android:launchMode="singleTop"
            android:theme="@style/SettingsTheme" />
        <activity
            android:name="com.zeerooo.anikumii.activities.VideoPlayerActivity"
            android:configChanges="orientation|screenSize|screenLayout|screenSize|smallestScreenSize"
            android:launchMode="singleTop"
            android:resizeableActivity="true"
            android:screenOrientation="sensorLandscape"
            android:supportsPictureInPicture="true"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="tioanime.com"
                    android:pathPrefix="/ver"
                    android:scheme="https" />
                <data
                    android:host="tiohentai.com"
                    android:pathPrefix="/ver"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.zeerooo.anikumii.activities.CommentsActivity"
            android:configChanges="orientation|screenSize|screenLayout"
            android:launchMode="singleTop"
            android:resizeableActivity="true"
            android:theme="@style/AppTheme" />

        <!-- Let's use IntentServices instead of AsyncTask -->
        <service
            android:name="com.zeerooo.anikumii.services.AccountsService"
            android:enabled="true" />
        <service
            android:name="com.zeerooo.anikumii.services.MALApiService"
            android:enabled="true" />
    </application>

</manifest>